body {
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
}

button {
    margin: auto;
    width: 50%;
    padding: 10px;  
}

.hold {
    border: solid 3px red;
}

#infocontainer {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

#infocontainer div {
    width: 50%;
}


#mainCards {
    display: flex;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-color: black;
    
}

#balance {
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
}

#infobox {
    text-align: center;
    display: flex;
    flex-flow: column;
    height: 100%;
}

#instruction {
    border: 2px;
    border-style: solid;

}

#payout {
    border: 2px;
    border-style: solid;
}

#message { 
    text-align: center;
}